<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zbd.app">

    <application
        android:name=".ZbdApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/ActivityStyle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.IndexActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleNoTraslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/ActivityStyle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/ActivityStyle" />
    </application>

</manifest>